﻿<div class="jumbotron">
    <h2>Introduction</h2>
    <p>
        All the methods can be viewed in the 'API' tab of this minisite.
        When accessing an endpoint, it can be tested by clicking
        on the 'Test API' button at the bottom right by using the WebApiTestClient NuGet package.
    </p>
    <p>
        Candidate: Eric Spolidor
    </p>
    <p>
        <a href="http://www.spolidor.com/Resume.aspx?p=sydney" class="btn btn-primary btn-lg" target="_blank">View Resume &raquo;</a>
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Technology used</h2>
        <p> I used WebAPI 2.2, but I could have used WCF. Warning: this is a VS 2015 solution, so it may  not open in older versions of VS.</p>
    </div>
    <div class="col-md-4">
        <h2>Testing</h2>
        <p>
            The service can be tested by going to the 'API' tab.
        <p>
            <a class="btn btn-default" href="https://github.com/wuchang/WebApiTestClient" target="_blank">Test client &raquo;</a>
        </p>
    </div>
    <div class="col-md-4">
        <h2>ExtendedMovieDataSource</h2>
        <p>
            The MovieDataSource class is extended by the ExtendedMovieDataSource class
            which provides extra funtionalities like searching, sorting and better performance.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Caching</h2>
        <p>
            The result is also in a MemoryCache object. It makes the datasource persistent: if an object is added or edited, the changes will stay.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Response Status codes</h2>
        <p>
            Errors can be traced with the Status code of the response. <br />200/204: Ok<br />400: Bad arguments, 500: Internal server error.
        </p>
    </div>
    <div class="col-md-4">

    </div>
</div>
